body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
}

.logo-color {
  color: #2e2f42;
}

.logo .logo-color:hover,
.logo .logo-color:focus,
.logo .logo-color:active {
  color: #4d5ae5;
}

.contacts {
  font-style: normal;
}

.contacts-links .link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-links .link:hover,
.contacts-links .link:focus {
  color: #404bbf;
}

.nav-links .link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-links .link:hover,
.nav-links .link:focus {
  color: #404bbf;
}

ul {
  list-style-type: none;
}

.button {
  cursor: pointer;
  background-color: #4d5ae5;
}
.button:hover {
  background-color: #404bbf;
}
